body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

h1 {
  font-size: 5rem;
}

.main {
  flex: 1;
}

.card img {
  height: 200px;
  float: left;
  margin: 1rem;
}

.card {
  float: left;
  width: 48%;
}

.right {
  width: 50%;
}


h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}


@media (max-width: 680px) {

  .logo {
    width: 150px;
  }

  h1 {
    font-size: 3.5rem;
  }

  .card {
    width: 100%;
    margin: 0px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    margin: 0px;
  }
}
